<h3>Contact Form</h3>
<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">
      ...
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input 
      required 
      minlength="3"
      maxlength="10"
      pattern="[a-zA-Z]*"
      ngModel 
      #firstName="ngModel" name="firstNameName" id="firstNameId" (change)="log(firstName)" type="text">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">First Name is invalid!</div>
        <div *ngIf="firstName.errors.minlength">First Name should be minimum {{ firstName.errors.minlength.requiredLength }}. Currently only {{ firstName.errors.minlength.actualLength }} characters given!</div>
        <div *ngIf="firstName.errors.pattern">First Name is simply wrong according to the requirements! Expected a string matching {{ firstName.errors.pattern.requiredPattern }}</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel #comment="ngModel" name="comment" id="comment" (change)="log(comment)" cols="30" rows="10"></textarea>
    <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid"></div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed"> Subscribe
    </label>
  </div>
  <div class="form-group">
    <label for="">Contact Method</label>
    <select ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option value=""></option>
      <option *ngFor="let method of contactMethods" [ngValue]="method">{{ method.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for=""> Multiple Contact Method</label>
    <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option value=""></option>
      <option *ngFor="let method of contactMethods" [ngValue]="method">{{ method.name }}</option>
    </select>
  </div>
  <div class="radio">
    <label>
      <input ngModel type="radio" name="contactMethod" value="1"> Email
    </label>
  </div>
  <div class="radio">
    <label>
      <input ngModel type="radio" name="contactMethod" value="2"> Phone
    </label>
  </div>
  <br>
  <div *ngFor="let method of contactMethods" class="radio">
    <label>
      <input ngModel type="radio" name="contactMethod" [value]="method"> {{ method.name }}
    </label>
  </div>
  <p>{{ f.value | json }}</p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>