<persohub-complex-form>
  
</persohub-complex-form>

<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
  <h3>
    <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
    <persohub-like [isLiked]="tweet.isLiked" [likeCount]="tweet.likeCount">
      <ng-container class="body">{{ tweet.body }}</ng-container>
    </persohub-like>
  </h3>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
<style>
  .courses {
    color: green;
    font-weight: bold;
  }
</style>

<div *ngIf="tweet.likeCount > 0; then courses else nocourses" class="courses"></div>
<ng-template #courses>Courses</ng-template>
<ng-template #nocourses>NoCourses</ng-template>
  
  <button (click)="share()">
    Share
  </button>

  <app-product-alerts
  [product]="product"
  (notify)="onNotify()">>
  </app-product-alerts>
</div>
<persohub-contact-form></persohub-contact-form>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->